@import './base.css';

#app {
  margin: 0 auto;

  font-weight: normal;
}

body, #navbar {
  max-width: 3100px;
  margin: auto auto;
  transition: 500ms forwards;
}


* {
  scroll-behavior: smooth !important;
}


@media (min-width: 1024px) {
}


.welcome {
  height: 900px;
}

*::selection {
  color: #70d9ff;
  background-color: #00b83d;
}






.link:hover {
  color: #00b378;
}
:is(.dark .link:hover) {
  color: #00ffaa;
}

.nodejs {
  margin-top: 10px;
}

.item {
  width: 70px;
  height: 70px;
  border-radius: 100px;
  padding: 12px;
  margin: 10px;
  display: inline-block;
}

:is(.dark .extern-icon) {
  filter: invert();
}
:is(.dark .ada-lang) {
  filter: invert();
}