@import './base.css';

#app {
  margin: 0 auto;

  font-weight: normal;
}

body {
  transition: 500ms forwards;
}

* {
  scroll-behavior: smooth !important;
}


@media (min-width: 1024px) {
}


.welcome {
  height: 900px;
}