@import './base.css';

#app {
  margin: 0 auto;

  font-weight: normal;
}

body, #navbar {
  max-width: 3100px;
  margin: auto auto;
}

#navbar {
  /* transition: 500ms forwards; */
}


* {
  scroll-behavior: smooth !important;
}


@media (min-width: 1024px) {
}

*::selection {
  color: #70d9ff;
  background-color: #00b83d;
}





@media (min-width: 1700px) {
  .link {
    font-size: large;
  }
}
@media (min-width: 2200px) {
  .link {
    font-size: x-large;
  }
}

.link:hover {
  color: #00b378;
}
:is(.dark .link:hover) {
  color: #00ffaa;
}

.nodejs {
  margin-top: 10px;
}

.item {
  width: 70px;
  height: 70px;
  border-radius: 100px;
  padding: 10px;
  margin: 10px;
  display: inline-block;
}

.extern-icon {
  width: 15px;
}
@media (min-width: 1700px) {
  .extern-icon {
    width: 20px;
  }
}
@media (min-width: 2200px) {
  .extern-icon {
    width: 25px;
  }
}

:is(.dark .extern-icon) {
  filter: invert();
}
:is(.dark .invert-icon) {
  filter: invert();
}